requests
PyYAML
omegaconf
modelscope
dotenv
typing_extensions
json5
mcp
openai
tiktoken
python-docx
qwen_agent
python-dateutil
python-pptx
pandas
tabulate
pdfplumber
llama-index
llama-index-retrievers-bm25
llama-index-embeddings-huggingface
llama-index-embeddings-openai
pdf2image
docker
python-docx
qwen_agent
python-pptx
tabulate
pdfplumber
pdf2image
llama-cloud
llama-cloud-services
llama-index
llama-index-cli
llama-index-core
llama-index-embeddings-dashscope
llama-index-embeddings-huggingface
llama-index-embeddings-openai
llama-index-indices-managed-llama-cloud
llama-index-instrumentation
llama-index-llms-openai
llama-index-readers-file
llama-index-readers-llama-parse
llama-index-retrievers-bm25
llama-index-workflows
llama-parse