requests
PyYAML
omegaconf
modelscope
dotenv
typing_extensions
json5
mcp
openai
tiktoken
python-docx
qwen_agent
python-dateutil
python-pptx
pandas
tabulate
pdfplumber
llama-index
llama-index-retrievers-bm25
llama-index-embeddings-huggingface
llama-index-embeddings-openai
docker